/*
----------------------------------------
USWDS with settings overrides
----------------------------------------
Uncomment the following lines and add a list of changed settings
in the form $setting: value,
----------------------------------------
*/

//
//  @use "uswds-core" with (
//    $setting: value,
//    $setting: value
//  );
//

@use "uswds-core" with (
  $theme-respect-user-font-size: true,
  $theme-font-type-sans: "public-sans",
  $theme-font-role-ui: $theme-font-sans,
  $theme-type-scale-sm: 5,
  $theme-body-font-size: "sm",
  $theme-body-line-height: 5
);
